@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Moontime";
    font-weight: 900;
    src: url("../fonts/moontime-regular.ttf");
  }
  @font-face {
    font-family: "Garamond";
    src: url("../fonts/EBGaramond-Medium.ttf");
  }
  @font-face {
    font-family: "Alice";
    src: url("../fonts/Alice-Regular.ttf");
  }
}

:root {
  margin: 0;
  font-family: Alice;
  font-size: 14pt;
  width: 100vw;
}

a {
  text-decoration: underline;
}
