@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Moontime";
    font-weight: 900;
    src: url("../fonts/moontime-regular.ttf");
  }
  @font-face {
    font-family: "Alice";
    src: url("../fonts/alice-regular.ttf");
  }
  @font-face {
    font-family: "Montserrat Thin";
    src: url("../fonts/montserrat-thin.ttf");
  }
  @font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/montserrat-regular.ttf");
  }
  @font-face {
    font-family: "Garamond";
    src: url("../fonts/garamond-medium.ttf");
  }
  @font-face {
    font-family: "Marykate";
    src: url("../fonts/marykate-regular.ttf");
  }
}

@layer components {
  .gray-header-text {
    @apply m-2 text-center font-alice text-xl uppercase text-gray md:text-2xl;
  }
  .gray-header-text-babysaur {
    @apply m-2 text-center font-montserratRegular text-2xl uppercase text-gray md:text-3xl;
  }
  .gray-header-text-babysaur-small {
    @apply m-2 text-center font-montserratRegular text-lg uppercase text-gray md:text-xl;
  }
  .scrollLinkNavigation {
    @apply block border-b px-3 py-2 font-alice text-xs uppercase text-gray no-underline md:border-0 md:p-0;
  }
  .pageLayout {
    @apply m-auto w-11/12 md:w-1/2;
  }
}

:root {
  margin: 0;
  font-family: Garamond;
  font-size: 14pt;
  width: 100vw;
}

a {
  text-decoration: underline;
}
